<!-- templates/article_edit.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
	     <div class="d-flex flex-wrap align-items-center justify-content-center
          justify-content-lg-start"> 
		  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			  <a class="navbar-brand" href="{% url 'index' %}">Home</a>
			  <a class="navbar-brand" href="{% url 'performance' %}">Performance</a>
			  <a class="navbar-brand" href="{% url 'deposit' %}">Deposit</a>
			  <a class="navbar-brand" href="{% url 'loan' %}">Loan</a>
			  <a class="navbar-brand" href="{% url 'income' %}">Income</a>
			  <a class="navbar-brand" href="{% url 'expense' %}">Expense</a>
		  </ul>  
		</div>         
      </div>
    </header>
	<h1>Edit</h1>
	<form action="" method="post">
		{% csrf_token %}
		{{ form|crispy }}	
	<hr>
	<p class="lead"> 
		<button class="btn btn-info ml-2" type="submit">Update</button>
	</p>
	</form>
	
	
{% endblock content %}